<!DOCTYPE html>
<html>
  <head>
    <title>Nodejs Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />   
    <!-- Button -->
	<link rel="stylesheet" href="/stylesheets/button/css3-button3-3/css/button.css" />
    <link rel="stylesheet" href="/stylesheets/button/css3-button3-3/css/style3.css" />
    <!-- //Button -->
  </head>
  <body>
  <!-- Container Start -->
  <div id="page-header">
  	<%- include navigator %>
  </div>
  <%- include broadcast %>
  <div class="container">
  	
  	<div class="content">