<div class="container">
	<header>
	    <h1>Nodejs Blog</h1>
	    <p>Welcome to my  BLOG</p>
	</header>
	<nav>
		<ul id="navigator">
			<li><a href="/">首页</a></li>
			<li><a href="/blog">博客</a></li>
			<li><a href="/register">注册</a></li>
			<li><a href="/login">登录</a></li>
		</ul>
	</nav>
</div>
