<%- include ../layouts/header %>
    <div>
		<%
			User.get('dajjwwx',function(err,user){
		%>
		<%= user.name %>
		<%
			});
		%>
    	
    	<hr />
    	<%= title %>
    </div>
<%- include ../layouts/footer %>
