<%- include ../layouts/header %>
	<section id="register" class="form">
		<header class="form-header">
			<h1>用户注册</h1>
		</header>
		<form id="register-form" class="clear" action="/register" method="post">
			<div class="form-item">
				<label for="username">用户名：</label>
				<input type="text" name="username" id="username" placeholder="用户名" />
			</div>
			<div class="form-item">
				<label for="username">邮&nbsp;&nbsp;箱：</label>
				<input type="text" name="username" id="username" placeholder="邮箱" />
			</div>
			<div class="form-item">
				<label for="username">密&nbsp;&nbsp;码：</label>
				<input type="password" name="username" id="username"  placeholder="设置您的登录密码"/>
			</div>
			<div class="form-item">
				<label for="username">确认密码：</label>
				<input type="password" name="username" id="username"  placeholder="确认一下您的密码"/>
			</div>
			<div class="form-item">
				<div class="right">
					<a href="#" class="a-btn">
						<span class="a-btn-text">注册帐号>></span> 
						<span class="a-btn-slide-text"><a href="#">Get a account</a></span>
						<span class="a-btn-icon-right"><span></span></span>
					</a>
				</div>
			</div>
		</form>
	</section>
<%- include ../layouts/footer %>