<%- include ../layouts/header %>

	<link rel="stylesheet" href="/jqueryPlugins/poshytip-1.2/src/tip-violet/tip-violet.css" type="text/css" />
	<script type="text/javascript" src="/jqueryPlugins/poshytip-1.2/src/jquery.poshytip.js"></script>

	<script type="text/javascript">
		$(function(){
			
			$("form :input").attr({'autocomplete':'off'});			
	
		    $("form :input.required").each(function(){		    
		    	var label = $(this).prev();		    	
		    	text = label.text().replace(/：/g,'*:');		    	
		    	label.text(text);
	        }).poshytip({
				className:'tip-violet',
				showOn: 'focus',
				alignTo: 'target',
				alignX: 'right',
				alignY: 'center',
				offsetX: 5,
				showTimeout: 100
			});
	         //文本框失去焦点后
	        $('form :input').blur(function(){
	             var $parent = $(this).parent();
	             $parent.find(".formtips").remove();
	             //验证用户名
	             if( $(this).is('#name') ){
	                    if( this.value=="" || this.value.length < 6 ){
	                        var errorMsg = '请输入至少6位字符.';
	                        $parent.append('<span class="formtips onError">'+errorMsg+'</span>');
	                        $(this).addClass("icon icon_no");
	                    }else{
	                        var okMsg = '输入正确.';
	                        $parent.append('<span class="formtips onSuccess">'+okMsg+'</span>');
	                        $(this).addClass("icon icon_ok");
	                    }
	             }
	             //验证邮件
	             if( $(this).is('#email') ){
	                if( this.value=="" || ( this.value!="" && !/.+@.+\.[a-zA-Z]{2,4}$/.test(this.value) ) ){
	                      var errorMsg = '请输入正确的E-Mail地址.';
	                      $parent.append('<span class="formtips onError">'+errorMsg+'</span>');
	                      $(this).addClass("icon icon_no");
	                }else{
//	                      var okMsg = '输入正确.';
//	                      $parent.append('<span class="formtips onSuccess">'+okMsg+'</span>');
	                      $(this).addClass("icon icon_ok");
	                }
	             }
	        }).keyup(function(){
	           $(this).triggerHandler("blur");
	        }).focus(function(){
	             $(this).triggerHandler("blur");
	        });//end blur	
		
		
			$("#registerButton").click(function(){			
		
				$("form :input.required").trigger('blur');
                var numError = $('form .onError').length;
                if(numError){
                    return false;
                } 
                alert("注册成功,密码已发到你的邮箱,请查收.");
				
				$("#register").submit();
								
					
			});
		});
	</script>
	<section id="register" class="form">
		<header class="form-header">
			<h1>用户注册</h1>
		</header>
		<a id="demo-basic" title="Hey, there! This is a tooltip." href="#">Hover for a tooltip</a>
		<form id="register-form" class="clear" action="/register" method="post">
			<div class="form-item">
				<label for="username">用户名：</label>
				<input type="text" name="name" id="name" placeholder="用户名" class="required" title="用户名只能用a-zA-X0-9_字符" />
			</div>
			<div class="form-item">
				<label for="username">邮&nbsp;&nbsp;箱：</label>
				<input type="text" name="email" id="email" placeholder="邮箱" class="required" title="请输入用户邮箱" />
			</div>
			<div class="form-item">
				<label for="username">密&nbsp;&nbsp;码：</label>
				<input type="password" name="password" id="password"  placeholder="设置您的登录密码" class="required" title="请设置您的登录密码" />
			</div>
			<div class="form-item">
				<label for="username">确认密码：</label>
				<input type="password" name="re_password" id="re_password" placeholder="确认一下您的密码" class="required" title="请确认一下您的登录密码是否输入正确" />
			</div>
			<div class="form-item">
					<div class="right">
					<a href="javascript:void(0);" class="a-btn">
						<input  class="a-btn-text" type="submit" value="注册帐号>>" style="background:none;border:none;cursor:pointer;"/>
						<span class="a-btn-slide-text">没有帐号？</span>
						<span class="a-btn-icon-right"><span></span></span>
					</a>
				</div>				
			</div>
			
			<div class="form-item">			
				<div class="right">
					<a href="javascript:void(0);" class="a-btn">
						<span class="a-btn-text" id="registerButton">&nbsp;&nbsp;注册帐号>></span> 
						<span class="a-btn-slide-text">没有帐号？</span>
						<span class="a-btn-icon-right"><span></span></span>
					</a>
				</div>
			</div>
		</form>
	</section>
<%- include ../layouts/footer %>