<%- include ../layouts/header %>

	<form method="post" action="/blog/upload" enctype="multipart/form-data">
		<input type="file" name="filePic" /><br />
		<input type="file" name="filePic2" /><br />
		<input type="submit" value="Submit" />		
	</form>


<%- include ../layouts/footer %>
